<ion-view view-title="Enchanted Worlds">
    <ion-content>
        
        <ion-list style=" background-image:url('http://quillapp.io/MIT.png');">
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="chat in chats" type="item-text-wrap" href="#/tab/chats/{{chat.id}}" back-img="{{chat.face}}" style="height:86%;">      
                <center>
                    <br>
                    
                    <div class="content">
                        <h2><b>{{chat.name}}</b></h2>
                        <p><b>{{chat.lastText}}</b>
                        </p>
                    </div>
                    <i class="icon ion-chevron-right icon-accessory"></i>

                    <ion-option-button class="button-assertive" ng-click="remove(chat)">
                        Delete
                    </ion-option-button>
                </center>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>